html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: orange;
    margin: 50px;
}
p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.material-icons, .fab{
    color:  rgb(54, 160, 209);
    vertical-align: bottom;
}
.CV{
    background-color: rgb(250, 226, 206);
    display: flex;
    flex-wrap: wrap;
}
h1{
    border-left: 8px orange solid;
    padding-left: 5px;
    border-spacing: 3px;
}

.informations{
    border-bottom: 5px orange solid;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.poste{
    font-size: x-large;
    font-weight: bold;
    color: rgb(54, 160, 209);
}

img{
    width: 200px;
    height: 200px;
    padding: 30px;
}
.licence{
    color: rgb(53, 160, 209);
    border-bottom: 5px orange solid;
    font-weight: bold;
    
}    

.left-column{
    flex-grow: 1;
    padding-left: 50px;
    padding-right: 50px;
}
.formation
{
    border-bottom: 5px orange solid;
    text-align: center;
}

.année{
    display: inline-block;
    color: rgb(53, 160, 209);
    padding-bottom: 15px;
    border-bottom: 5px orange solid;
    font-weight: bold;
}
.récompenses{  
    border-bottom: 5px orange solid;
}
.logiciels ul{
    font-size: 30px;
}
.entreprise{
    font-weight: bold;
}
.date{
    color: rgb(53, 160, 209);
    border-bottom: 5px orange solid;
    padding-bottom: 5px;
    font-weight: bold;
    float: right;
}
.container {
    width: 100%;
    background-color: #ddd;
}
  
.skills {
    height: 10px;
}
  .page {width: 80%; background-color:rgb(54, 160, 209);}
  .graphisme {width: 90%; background-color: rgb(54, 160, 209);}
  .illustration {width: 70%; background-color: rgb(54, 160, 209);}
  .animation {width: 60%; background-color: rgb(54, 160, 209);}
  .photographie {width: 90%; background-color: rgb(54, 160, 209);}
  .vidéo {width: 80%; background-color: rgb(54, 160, 209);}
  
.right-column{
    flex-grow: 1;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border-left: 5px orange solid;
}

.réseaux{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    border-top: 5px orange solid;
}
.site{
    font-weight: bold;
    color: rgb(53, 160, 209);
}
